ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 45px;
    color: black;
    margin-right: 30px;
    font-size: 40px;
}

.liste:hover {
    color: rgb(107, 107, 107);
    transition: 0.25s;
}

.mav {
    display: flex;
    background-color: beige;
    max-width: 100%;
    height: 150px;
    align-items: center;
    box-shadow: 15px 3px rgb(90, 90, 90);
}

.liste {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.mav img {
    width: 100px;
    animation: 1.5s infinite linear sliderotation;
    animation-direction: alternate;
    display: flex;
}

.antoinepoulpe {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 400px;
}

.poulpe {
    width: 300px;
}

@keyframes sliderotation {
    0% {
        transform: translateX(0) translateY(0) rotate(-50deg);
    }

    100% {
        transform: translateX(100%) translateY(0) rotate(410deg);
    }
}