.row{
    font-size: 40px;
}

.projet1 {
    background : linear-gradient(beige, black, black, black, rgb(17, 17, 17), rgb(27, 27, 27));
    color: white;
}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 0;
    margin: 0;
}

.projet1 img {
    width: 100%;
}

.pp {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

.ligne {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 1px;
    width: 100%;
    background-color: beige;
}