.contact {
    padding-top: 300px;
    background-color: beige;
}

.linkedin {
    background-color: #0077b5;
}

.instagram {
    background: linear-gradient(25deg, #cd486b, #4c68d7, #8a3ab9);
}

.facebook {
    background-color: #3b5998;
}

.liste:hover {
    color: white;
}

.tel {
    font-size: 30px
}