.projet2 {
    background-color:  rgb(27, 27, 27);
    display: grid;
    grid-template-columns: 100fr 1fr 100fr 10fr 100fr 10fr;
    height: 800px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.projet2 img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
}

.projet2 .texte {
    display: flex;
    align-items: center;
    height: 650px;
}

.toujoursprojet2 {
    display: flex;
    justify-content: center;
    background-color:  rgb(27, 27, 27);
    padding-bottom: 40px;
}

.toujoursprojet2 h2 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
}